In [1]:
import pandas as pd

We want to test whether a race pay gap exists in a certain company . We have a sample of 174 employees, with data such as name, age etc. We are going to test if there is a significant difference in salaries based on their race. We divide the data into two samples, white and non white employees,which are independent with an unknown variance and assumed equal. We will use a t hypothesis test for the mean salary.

In [ ]:
##FIRST WAY

Ho: w_mean - nw_mean=0
H1: w_mean-nw_mean!=0

In [2]:
df = pd.read_excel('Data.xlsx',sheet_name='Data')
df.shape

(174, 10)

In [3]:
df.head()

,Surname,Name,Age,Gender,Country,Ethnicity,Start_date,Department,Position,Salary
0,Sweetwater,Alex,51,Male,United States,White,2011-08-15,Software Engineering,Software Engineering Manager,56160.0
1,Carabbio,Judith,30,Female,United States,White,2013-11-11,Software Engineering,Software Engineer,116480.0
2,Saada,Adell,31,Female,United States,White,2012-11-05,Software Engineering,Software Engineer,102440.0
3,Szabo,Andrew,34,Male,United States,White,2014-07-07,Software Engineering,Software Engineer,99840.0
4,Andreola,Colby,38,Female,United States,White,2014-11-10,Software Engineering,Software Engineer,99008.0

In [4]:
df['Ethnicity'].value_counts().to_frame()

                           Ethnicity
White                            112
Black or African American         36
Asian                             15
Two or more races                  9
Hispanic                           2

In [5]:
list=['Black or African American','Asian','Two or more races','Hispanic']

In [6]:
for i in list:                                #We are using a for loop to group all the other races,for easier understanding.
    df.replace(i,'Non White',inplace=True)

In [7]:
df['Ethnicity'].value_counts()

White        112
Non White     62
Name: Ethnicity, dtype: int64

In [10]:
categories=df.groupby('Ethnicity')

In [11]:
categories.size()

Ethnicity
Non White     62
White        112
dtype: int64

In [12]:
len(categories)

2

In [13]:
w_sa=categories.get_group('White')
nw_sa=categories.get_group('Non White')

In [14]:
#Calculating the two sample means.
w_mean=w_sa['Salary'].mean()
nw_mean=nw_sa['Salary'].mean()
print('The mean of the white sample is',w_mean,'and the mean of the non white is',nw_mean)

The mean of the white sample is 67323.1 and the mean of the non white is 70917.26451612904

In [15]:
#Calculating the two samples' variances.
w_var=w_sa['Salary'].std()*w_sa['Salary'].std()
nw_var=nw_sa['Salary'].std()*nw_sa['Salary'].std()
print('The variance of the white sample is',w_var,'and the variance of the non white is',nw_var)

The variance of the white sample is 1136728018.0252259 and the variance of the non white is 1225049916.297409

In [16]:
#Then we calculate the pooled variance.
pool=((len(w_sa.index)-1)*w_var+(len(nw_sa.index)-1)*nw_var)/(len(w_sa.index)+len(nw_sa.index)-2)
print('Pooled variance is',pool)

Pooled variance is 1168051481.9473374

In [17]:
#Now we calculate the standard error.
st_error=((pool/len(w_sa.index))+(pool/len(nw_sa.index)))**(1/2)
print('standard error is',st_error)

standard error is 5410.04354143515

In [18]:
#Now we are ready to calculate tha T-score.
T=(w_mean-nw_mean)/st_error
print(T)

-0.6643503862032862

In [19]:
#From an online calculator we can see that the p-value for a T-score of -0.66,112+62-2 degrees of 
#freedon and a two sided test is:
p_value=0.51

Since p>a , which a is the level of significance , the result is insignificant and there is no sign that there is a pay discrimination.

In [20]:
##SECOND WAY
from scipy import stats

In [21]:
t_value,p_value=stats.ttest_ind(w_sa['Salary'],nw_sa['Salary'])

print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for two tailed test is %f'%p_value)

alpha = 0.05

Test statistic is -0.664350
p-value for two tailed test is 0.507356

Since p>a , which a is the level of significance , 
the result is insignificant and there is no sign that there is a pay discrimination.